html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	position: relative;
}

.hidden-cursor{
    /*cursor: url("blank.cur"),auto !important;*/
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.dilation-player {
	width: 100%;
	height: 100%;
	background-color: #000;
	position: relative;
	overflow: hidden;
	z-index: 9;
}

.dilation-player .dilation-player-video{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0
}

/* ============ CSS for logo =============== */
.dilation-player .dilation-player-logo{
	position: absolute;
	top: 4%;
	left: 3%;
	height: 7%;
	z-index: 9;
	opacity: 0.7;
	cursor: pointer;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}

.dilation-player .dilation-player-logo:hover{
	opacity: 1
}

/* ============ CSS for controls =============== */
.dilation-player .dilation-player-control{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 9;
	height: 8%;
    min-height: 50px;
    max-height: 70px;
	transform: translateY(88%);
	transition: all 0.2s ease;
}

.dilation-player .dilation-player-control.active{
	transform: translateY(0);
}

/* CSS for PROGRESS */
.dilation-player .dilation-player-control .dilation-player-progress{
	width: 96%;
	position: relative;
    height: 12%;
    cursor: pointer;
    margin: 0 auto;
	z-index: 9;
}

.dilation-player .dilation-player-control .dilation-player-progress .line{
    width: 100%;
	height: 60%;
    transition: all 0.2s linear;
    position: absolute;
    bottom: 0px;
	left: 0px;
}

.dilation-player .dilation-player-control .dilation-player-progress .dilation-player-progress-tooltip-text {
    display: none;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 1px 5px;
    position: absolute;
    z-index: 1;
    top: -1.6em;
	transform: translateX(-50%);
}

.dilation-player .dilation-player-control .dilation-player-progress .dilation-player-progress-tooltip-text::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 5px 0 5px;
  border-color: black transparent transparent transparent;
}

.dilation-player .dilation-player-control .dilation-player-progress:hover .dilation-player-progress-tooltip-text {
    display: inline-block;
}

.dilation-player .dilation-player-control .dilation-player-progress .dilation-player-progress-tooltip-image {
    display: none;
    background-color: red;
    color: #fff;
    text-align: center;
    border: 1px solid #ddd;
    position: absolute;
    z-index: 1;
    top: calc(-48px + -1.8em);
	transform: translateX(-50%);
	width: 90px;
	height: 70px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.dilation-player .dilation-player-control .dilation-player-progress:hover .dilation-player-progress-tooltip-image {
    display: inline-block;
}

.dilation-player .dilation-player-control .dilation-player-progress:hover .line{
    height: 100%;
}

.dilation-player .dilation-player-control .dilation-player-progress .line div{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0px;
	left: 0px;
}

.dilation-player .dilation-player-control .dilation-player-progress .line .playing{
    background-color: #46d2e0;
    z-index: 3;
}

.dilation-player .dilation-player-control .dilation-player-progress .line .loading{
    background-color: rgba(255,255,255, 0.5);
    width: 100%;
    z-index: 1;
}

/* CSS for button */
.dilation-player .dilation-player-control .dilation-player-button{
    height: 88%;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    position: relative;
}

.dilation-player .dilation-player-control .dilation-player-button > div{
    height: 100%;
    position: relative;
    transition: all 0.2s linear;
    width: 96%;
    margin: auto;
}

.dilation-player .dilation-player-control .dilation-player-button > div:after,
.dilation-player .dilation-player-control .dilation-player-button .dilation-player-group:after{
    clear: both;
	content: "";
	display: block;
}

.dilation-player .dilation-player-control .dilation-player-button .dilation-player-group{
	height: 100%;
    position: relative;
    float: left;
	display: inline-block;
}

.dilation-player .dilation-player-control .dilation-player-button button{
	background-color: transparent;
	color: #fff;
	border: none;
	outline: 0;
	font-size: 1.3em;
	cursor: pointer;
    height: 100%;
    transition: opacity .1s cubic-bezier(0.4,0.0,1,1);
    line-height: inherit;
    float: left;
}

.dilation-player .dilation-player-control .dilation-player-button button.dilation-player-btn-fullscreen{
    float: right;
}

.dilation-player .dilation-player-control .dilation-player-button button.dilation-player-timer{
    font-size: 0.8em;
}

.dilation-player .dilation-player-control .dilation-player-button .dilation-player-volume-tooltip{
    background-color: #ffffff;
	background-color: #000;
	transition: all 0.2s linear;
	opacity: 0;
	width: 0;
	display: inline-block;
	padding-right: 5px;
	border-right: 1px solid #eee;
	height: 100%;
	position: absolute;
	overflow: hidden
}

.dilation-player .dilation-player-control .dilation-player-button .dilation-player-group:hover .dilation-player-volume-tooltip{
    width: 100px;
	opacity: 1;
	box-sizing: border-box;
}

.dilation-player .dilation-player-control .dilation-player-button .dilation-player-group .dilation-player-volume-range{
    width: 95px;
	top: 35%;
	position: absolute;
	-webkit-transform: translateY(-30%);
	-ms-transform: translateY(-30%);
	transform: translateY(-30%);
}

/* CSS for loader */
.dilation-player .dilation-player-loader{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 8;
	display: none;
}

.dilation-player .dilation-player-loader.active{
	display: block;
}

.dilation-player .dilation-player-loader .dilation-player-loader-icon {
	text-align: center;
	position: relative;
	top: 40%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #fff;
	margin: auto;
    display: block;
	width: 100px;
	font-size: 2em;
}