html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
}

.hidden-cursor {
    /*cursor: url("blank.cur"),auto !important;*/
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.dp {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: relative;
    overflow: hidden;
}

.dp .dp-video,
.dp .dp-audio{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0
}

/* ============ CSS for logo =============== */
.dp .dp-logo {
    position: absolute;
    top: 4%;
    left: 3%;
    height: 7%;
    z-index: 9;
    opacity: 0.7;
    cursor: pointer;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}

.dp .dp-logo.active{
    display: block;
}

.dp .dp-logo:hover {
    opacity: 1
}

/* ============ CSS for menu =================*/
.dp-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s, opacity 0.1s, background-color 0.2s linear;
}

.dp-menu.active {
    visibility: visible;
    opacity: 1;
}

.dp-menu .dp-menu-list {
    background-color: rgba(51, 47, 47, 0.75);
    color: #fff;
    min-width: 100px;
    position: fixed;
}

.dp-menu .dp-menu-list .dp-menu-item {
    padding: 10px 10px 10px 20px;
    cursor: pointer
}

.dp-menu .dp-menu-list .dp-menu-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.dp-menu .dp-menu-list .dp-menu-item:before {
    content: "✓";
    color: #fff;
    margin-left: -15px;
    margin-right: 10px;
    font-size: 0.8em;
    visibility: hidden;
}

.dp-menu .dp-menu-list .dp-menu-item.active:before {
    visibility: visible;
}

/* ============ CSS for controls =============== */
.dp .dp-control {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    height: 8%;
    min-height: 50px;
    max-height: 70px;
    transform: translateY(88%);
    transition: all 0.2s ease;
    background-color: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
}

.dp .dp-control.active {
    transform: translateY(0);
}

/* CSS for PROGRESS */
.dp .dp-control .dp-progress {
    width: 96%;
    position: relative;
    height: 12%;
    cursor: pointer;
    margin: 0 auto;
    z-index: 9;
}

.dp .dp-control .dp-progress .dp-line {
    width: 100%;
    height: 40%;
    transition: all 0.2s linear;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.dp .dp-control .dp-progress:hover .dp-line {
    height: 70%;
}

.dp .dp-control .dp-progress .dp-line > div {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.dp .dp-control .dp-progress .dp-line .dp-playing {
    background-color: #FF5722;
    z-index: 3;
}

.dp .dp-control .dp-progress .dp-line .dp-loading {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    z-index: 1;
}

.dp .dp-control .dp-progress .dp-progress-tooltip-text {
    display: none;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 1px 5px;
    position: absolute;
    z-index: 1;
    top: -1.8em;
    transform: translateX(-50%);
}

/*.dp .dp-control .dp-progress .dp-progress-tooltip-text::after {*/
    /*content: '';*/
    /*display: block;*/
    /*position: absolute;*/
    /*top: 100%;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-style: solid;*/
    /*border-width: 4px 5px 0 5px;*/
    /*border-color: black transparent transparent transparent;*/
/*}*/

.dp .dp-control .dp-progress:hover .dp-progress-tooltip-text.active {
    display: inline-block;
}

.dp .dp-control .dp-progress .dp-progress-tooltip-image {
    display: none;
    background: rgba(0, 0, 0, 0.6) no-repeat center;
    color: #fff;
    text-align: center;
    border: 1px solid #000;
    position: absolute;
    z-index: 1;
    top: calc(-58px + -1.8em);
    transform: translateX(-50%);
    width: 100px;
    height: 80px;
    background-size: cover;
    border-radius: 2px;
}

.dp .dp-control .dp-progress:hover .dp-progress-tooltip-image.active {
    display: inline-block;
}

/* ======================= CSS for button ========================== */
.dp .dp-control .dp-button {
    height: 88%;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    width: 100%;
    position: relative;
}

.dp .dp-control .dp-button > div {
    height: 100%;
    position: relative;
    transition: all 0.2s linear;
    width: 96%;
    margin: auto;
}

.dp .dp-control .dp-button > div:after,
.dp .dp-control .dp-button .dp-group:after {
    clear: both;
    content: "";
    display: block;
}

.dp .dp-control .dp-button .dp-group {
    height: 100%;
    position: relative;
    float: left;
    display: inline-block;
}

.dp .dp-control .dp-button button {
    background-color: transparent;
    color: #fff;
    border: none;
    outline: 0;
    font-size: 1.3em;
    cursor: pointer;
    height: 100%;
    transition: opacity .1s cubic-bezier(0.4, 0.0, 1, 1);
    line-height: inherit;
    float: left;
    padding: 0;
}

.dp .dp-control .dp-button button path {
    fill: #ffffff;
}

.dp .dp-control .dp-button button.dp-btn-largescreen,
.dp .dp-control .dp-button button.dp-btn-fullscreen {
    float: right;
}

.dp .dp-control .dp-button button.dp-timer {
    font-size: 0.8em;
}

.dp .dp-control .dp-button .dp-volume-tooltip {
    transition: all 0.2s linear;
    opacity: 0;
    width: 0;
    display: inline-block;
    padding-right: 5px;
    border-right: 1px solid #525252;
    height: 100%;
    overflow: hidden;
}

.dp .dp-control .dp-button .dp-group:hover .dp-volume-tooltip {
    width: 100px;
    opacity: 1;
    box-sizing: border-box;
}

/* Custom range */
.dp .dp-control .dp-button .dp-group .dp-volume-range {
    width: 90px;
    top: 40%;
    position: absolute;
    -webkit-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    height: 7%;
    background: #fff;
    outline: none;
    -webkit-appearance: none;
}

.dp .dp-control .dp-button .dp-group .dp-volume-range:hover {
    opacity: 1;
}

.dp .dp-control .dp-button .dp-group .dp-volume-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #FF5722;
    cursor: pointer;
    border-radius: 50%;
}

.dp .dp-control .dp-button .dp-group .dp-volume-range::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #FF5722;
    cursor: pointer;
    border-radius: 50%;
}

/* CSS for purdah */
.dp .dp-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
    display: none;
}

.dp .dp-modal.active {
    display: block;
}

.dp .dp-modal .dp-modal-icon {
    text-align: center;
    position: relative;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
    margin: auto;
    display: block;
    width: 100px;
    font-size: 2em;
}

.dp .dp-modal .dp-modal-player-icon > * {
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2px 1px 2px 3px;
    width: 40%;
    color: #fff;
}

.dp .dp-modal path {
    fill: #ffffff;
}

/* ======================== CSS for ADS ============== */
.dp .dp-ads {
    z-index: 9;
    display: none;
    transition: all .2s;
}

.dp .dp-ads.active {
    display: block;
}

.dp .dp-ads.line {
    height: 17%;
    min-height: 40px;
    max-height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.dp .dp-ads.full,
.dp .dp-ads.require{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.dp .dp-ads .dp-ads-item{
    margin: auto;
    position: relative;
    display: block;
    max-width: 100%;
    height: 100%;
}

.dp .dp-ads.line .dp-ads-item{
    width: fit-content;
}

.dp .dp-ads.full .dp-ads-item,
.dp .dp-ads.require .dp-ads-item{
    width: 100%;
}

.dp .dp-ads .dp-ads-content {
    height: 100%;
}

.dp .dp-ads .dp-ads-close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffff;
    outline: 0;
    cursor: pointer;
    border: none;
    color: #000;
    display: none;
    height: 17px;
    width: 17px;
    padding: 0;
}

.dp .dp-ads .dp-ads-close.active {
    display: inline-block;
}