html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	position: relative;
}

.hidden-cursor{
    /*cursor: url("blank.cur"),auto !important;*/
}

.dilation-player {
	width: 100%;
	height: 100%;
	background-color: #000;
	position: relative;
	overflow: hidden;
	z-index: 9999
}

.dilation-player .dilation-player-video{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0
}

/* ============ CSS for logo =============== */
.dilation-player .dilation-player-logo{
	position: absolute;
	top: 2%;
	left: 2%;
	height: 7vh;
    width: 7vh;
	z-index: 9999;
	opacity: 0.7;
	cursor: pointer;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}

.dilation-player .dilation-player-logo:hover{
	opacity: 1
}

/* ============ CSS for controls =============== */
.dilation-player .dilation-player-control{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	height: 8%;
	transform: translateY(85%);
	transition: all 0.2s ease;
}

.dilation-player .dilation-player-control.active{
	transform: translateY(0);
}

.dilation-player .dilation-player-control .dilation-player-progress{
	width: 96%;
	position: relative;
    height: 15%;
    cursor: pointer;
    transition: all 0.2s ease;
    margin: auto;
}

.dilation-player .dilation-player-control .dilation-player-progress div{
    height: 50%;
    width: 50%;
    transition: all 0.2s ease;
    position: absolute;
    bottom: 0;
}

.dilation-player .dilation-player-control .dilation-player-progress .load{
    background-color: #f00;
    z-index: 2;
}

.dilation-player .dilation-player-control .dilation-player-progress .full{
    background-color: rgba(255,255,255, 0.5);
    width: 100%;
    z-index: 1;
}

.dilation-player .dilation-player-control.progress-hover .dilation-player-progress .full,
.dilation-player .dilation-player-control.progress-hover .dilation-player-progress .load{
    height: 100%;
    transition: all 0.2s ease;
}

.dilation-player .dilation-player-control .dilation-player-button{
    height: 85%;
    position: relative;
    clear: both;
    transition: all 0.2s ease;
    background-color: rgba(0,0,0,0.5);
    width: 96%;
    margin: auto;
}

.dilation-player .dilation-player-control .dilation-player-button button{
	background-color: transparent;
	color: #fff;
	border: none;
	outline: 0;
	padding: 1%;
	font-size: 3.5vh;
	cursor: pointer;
    height: 100%;
    transition: opacity .1s cubic-bezier(0.4,0.0,1,1);
    line-height: inherit;
}

.dilation-player .dilation-player-control .dilation-player-button button.dilation-player-btn-play{
    float: left;
}

.dilation-player .dilation-player-control .dilation-player-button button.dilation-player-btn-fullscreen{
    float: right;
}